@import './color.less';

@media screen and (max-width: 768px) {
	body {
		.desktop-version {
			display:none;
		}
		.mobile-version	{
			display: block;
			header {
				padding: 0px 5px 0px 10px;
				box-sizing: border-box;
				line-height: 30px;
				background-color: @red-header-color-mobile;
				position: absolute;
			}
			.first-line-header-mobile {
				display:flex;
				justify-content: space-between;
				align-items: center;
				min-height: 46px;
				flex-wrap: nowrap;
				.left-first-line-header-mobile {
					display:flex;
					max-width: 20%;
					.logo-mobile {
						width: 36px;
					  height: 26px;
					  background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_tablet-set-vhigh-vflih36to.png) 0px -867px;
					  -webkit-background-size: 48px 1380px;
					  margin-right: 10px;
					}
					a {
						text-decoration: none;
						display:flex;
						align-items: center;
					}
					.logo-name-mobile {
						color: white;
						font-size: 15px;
						font-weight: 500;
						padding: 0px;
						margin: 0px;
					}
				}
				.right-first-line-header-mobile {
					display:flex;
					.search-button-mobile {
						display: flex;
						background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_tablet-set-vhigh-vflih36to.png) -22px -375px;
					  width: 24px;
					  height: 24px;
					  -webkit-background-size: 48px 1380px;
					  opacity: 0.9;
					}
					.menu-mobile {
						display: flex;
						width: 24px;
						height: 24px;
						background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) -23px -1214px;
						-webkit-background-size: 48px 1322px;
						opacity: 0.9;
					}
					#divInputMobile {
						display: none;
						#searchMobileInput {
							width: 100%;
							max-width: 400px;
						}
					}
				}
			}
			.second-line-header-mobile {
				display:flex;
				justify-content: space-around;
				align-items: center;
				min-height: 56px;
				.home-mobile {
					opacity: 1;
				  width: 24px;
				  height: 24px;
				  background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) -22px -414px;
				  background-size: 48px 1322px;
				  -webkit-background-size: 48px 1322px;
				}
				.in-trend-mobile {
					opacity: 0.5;
					width: 24px;
  				height: 24px;
  				background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) 0px -758px;
  				-webkit-background-size: 48px 1322px;
				}
				.subscriptions-mobile {
					opacity: 0.5;
					width: 24px;
  				height: 24px;
  				background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) 0px -1066px;
  				-webkit-background-size: 48px 1322px;
				}
				.account-mobile {
					opacity: 0.5;
					width: 24px;
  				height: 24px;
  				background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) 0px -1122px;
  				-webkit-background-size: 48px 1322px;
				}
			}
		}
	}
}
