@import './color.less';


body {
	font-family: Roboto,arial,sans-serif;
	font-size: 13px;
	background-color: @bg-body-color;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background-color: white;
	position: fixed;
	width: 100%;
  margin:0px;
  border-bottom: 1px solid @border-bottom-header;
}
.top-header	{
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content:space-around;
	padding: 10px 0px 10px 28px;
	a {
		text-decoration: none;
	}
	div, sup, a, input, img {
		display: flex;
	}
}
.left-header {
	width: 4%;
	margin-right: 147px;
}
.right-header {
	width: 20%;
	padding-left: 90px;
}
.icon-menu {
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -392px -333px;
	width: 16px;
	height: 24px;
	opacity:0.6;
	margin-top: 4px;
	margin-right: 14px;
	&:hover {
		opacity: 1;
	}
}

.icon-logo {
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -425px -391px;
  width: 73px;
  height: 30px;
}
.region {
	color: #767676;
  font-size: 10px;
  font-weight: 500;
}
.input-search {
	width: 100%;
}
input{
  width: 76%;
  max-width: 540px;
	padding: 0px 32px 0px 5px;
	line-height: 25px;
	font-size: 16px;
	font-weight: 500;
	outline: none;
	&:hover  {
		box-shadow: 1px 1px 1px rgba(128,128,128,0.1);
		border-bottom: none;
	}
}
::-webkit-input-placeholder {color:#808080;}
::-moz-placeholder          {color:#808080;}/* Firefox 19+ */
:-moz-placeholder           {color:#808080;}/* Firefox 18- */
:-ms-input-placeholder      {color:#808080;}


.icon-button-search {
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -294px -324px;
	width: 66px;
	background-color:@icon-button-search-bg-color;
	cursor: pointer;
	border:1px solid @icon-button-search-border-color;
	border-left: none;
	&:hover {
		background-color: @icon-button-search-bg-hover-color;
	}
}
	.keyboard-box img {
		padding-top: 10px;
		margin-right: 5px;
		width:19px;
		height:11px;
		margin-left: -24px;
		opacity: 0.55;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}

.add-video {
	padding-right: 40px;
	a {
		background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -419px -170px;
	  background-size: auto;
	  width: 24px;
	  height: 24px;
	  opacity: 0.55;
	  &:hover {
		opacity: 1;
		}
	}
}
.g-account {
	.message{
		background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -391px -391px;
	  width: 30px;
	  height: 30px;
	  opacity: 0.50;
	  margin-right: 13px;
	  &:hover {
		opacity: 1;
		}
	}
	.google-account {
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		background-color: @icon-google-account-bg-color;
		text-align: center;
		vertical-align: center;
		a {
			color: white;
		}
	}
}
@media screen and (max-width: 768px) {
	html{
		display:none;
	}
}
