body {
	font-family: Roboto,arial,sans-serif;
	font-size: 13px;
	background-color: #f1f1f1;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background-color: white;
	position: fixed;
	width: 100%;
  margin:0px;
  padding:0px 0px 0px 25px;
  border-bottom: 1px solid #e8e8e8;
}
.top-header	{
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	width: 100%;
	padding: 10px 0px;
	a {
		text-decoration: none;
	}
}
.icon-menu {
	width:20px;
	height: 20px;
	background: url("https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfl4T5KLq.webp") no-repeat;
	background-position:-20px -204px;
	margin-right: 20px;
}
.logo {
	max-width: 10%;
}
.icon-logo {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 71px;
	height: 31px;
	background: url("https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfl4T5KLq.webp") no-repeat;
	background-position:-102px -620px;
}
.region {
	margin: 0px;
	padding: 0px;
	color: #767676;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  vertical-align: top;
}
.input-search {
	padding: 0;
	display: flex;
	align-items: center;
	max-width: 650px;
	overflow: hidden;
	input{
		height: 25px;
		width: 100%;
	}
	.icon-button-search {
		width: 60px;
		height: 31px;
		background-image: url("https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp");
		background-repeat: no-repeat;
		background-position:-299px -325px;
	}
	.keyboard-box img {
		padding-top: 3px;
		width:19px;
		height:15px;
		margin-left: -17px;
	}
}
.add-video {
	display: flex;
	a {
		width:30px;
		height: 30px;
		background-image: url("https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp");
		background-repeat: no-repeat;
		background-position:-366px -246px;
	}
}
.g-account {
	display:flex;
	.message{
		width:30px;
		height: 30px;
		background-image: url("https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp");
		background-repeat: no-repeat;
		background-position:-391px -391px;
	}
	.google-account {
		width: 50px;
		height: 50px;
		border-radius: 0px;
		background-color: #59391d;
	}
}

