body {
  font-family: Roboto, arial, sans-serif;
  font-size: 13px;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: white;
  position: fixed;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #e8e8e8;
}
.top-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 10px 40px 10px 20px;
  max-width: 1470px;
}
.top-header a {
  text-decoration: none;
}
.top-header div,
.top-header sup,
.top-header a,
.top-header input,
.top-header form,
.top-header img {
  display: flex;
}
.left-header {
  width: 4%;
  margin-right: 70px;
}
.right-header {
  width: 10%;
}
.icon-menu {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -392px -333px;
  width: 16px;
  height: 24px;
  opacity: 0.80;
  margin-top: 4px;
  margin-right: 17px;
}
.icon-logo {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -425px -391px;
  width: 73px;
  height: 30px;
}
.region {
  margin: 0px;
  padding: 0px;
  color: #767676;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  vertical-align: top;
}
.input-search {
  width: 85%;
  align-items: center;
  line-height: 30px;
  margin-left: 87px;
}
.input-search input {
  width: 500px;
  height: 26px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #a9a9a9;
}
.input-search .icon-button-search {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -296px -324px;
  width: 62px;
  background-color: #f8f8f8;
  height: 28px;
  cursor: pointer;
  border: 1px solid #a9a9a9;
  border-left: none;
}
.input-search .keyboard-box img {
  padding-top: 10px;
  margin-right: 5px;
  width: 19px;
  height: 11px;
  margin-left: -24px;
  opacity: 0.55;
  cursor: pointer;
}
.add-video {
  padding-right: 40px;
}
.add-video a {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -419px -170px;
  background-size: auto;
  width: 24px;
  height: 24px;
  opacity: 0.55;
}
.g-account .message {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -391px -391px;
  width: 30px;
  height: 30px;
  opacity: 0.50;
  margin-right: 9px;
}
.g-account .google-account {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #59391d;
  text-align: center;
  vertical-align: center;
}
.g-account .google-account a {
  color: white;
}
@media screen and (max-width: 768px) {
  html {
    display: none;
  }
}
