body {
  font-family: Roboto, arial, sans-serif;
  font-size: 13px;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: white;
  position: fixed;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #e8e8e8;
}
.top-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  padding: 10px 33px;
}
.top-header a {
  text-decoration: none;
}
.top-header div,
.top-header sup,
.top-header a,
.top-header input,
.top-header form,
.top-header img {
  display: flex;
}
.icon-menu {
  flex-grow: 1;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -392px -331px;
  background-size: auto;
  width: 16px;
  height: 20px;
  opacity: 0.80;
}
.logo {
  flex-grow: 2;
}
.icon-logo {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -425px -391px;
  background-size: auto;
  width: 73px;
  height: 30px;
}
.region {
  margin: 0px;
  padding: 0px;
  color: #767676;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  vertical-align: top;
}
.input-search {
  align-items: center;
  overflow: hidden;
  flex-grow: 5;
}
.input-search input {
  height: 26px;
  width: 100%;
  padding: 0 5px;
}
.input-search .icon-button-search {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -299px -324px;
  width: 60px;
  background-color: #f8f8f8;
  height: 32px;
  cursor: pointer;
}
.input-search .keyboard-box img {
  padding-top: 3px;
  width: 19px;
  height: 11px;
  margin-left: -24px;
  opacity: 0.55;
  cursor: pointer;
}
.add-video {
  flex-grow: 1;
}
.add-video a {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -419px -170px;
  background-size: auto;
  width: 24px;
  height: 24px;
  opacity: 0.55;
}
.g-account {
  flex-grow: 1;
}
.g-account .message {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -391px -391px;
  background-size: auto;
  width: 30px;
  height: 30px;
  opacity: 0.50;
}
.g-account .google-account {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #59391d;
  text-align: center;
  vertical-align: center;
}
.g-account .google-account a {
  color: white;
}
