body {
  font-family: Roboto, arial, sans-serif;
  font-size: 13px;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: white;
  position: fixed;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #e8e8e8;
}
header:hover .icon-menu {
  opacity: 1;
}
header .icon-menu {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -392px -333px;
  width: 16px;
  height: 24px;
  opacity: 0.6;
  margin-top: 4px;
  margin-right: 14px;
}
header .icon-menu:hover {
  opacity: 1;
}
.top-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 0px 10px 42px;
}
.top-header a {
  text-decoration: none;
}
.top-header div,
.top-header sup,
.top-header a,
.top-header input,
.top-header img {
  display: flex;
}
.left-header {
  width: 4%;
  margin-right: 134px;
}
.right-header {
  width: 20%;
  padding-left: 90px;
}
.icon-menu {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflm-serG.webp) -392px -337px;
  background-size: auto;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  margin-right: 14px;
  color: #333;
}
.icon-logo {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -425px -391px;
  width: 73px;
  height: 30px;
}
.region {
  color: #767676;
  font-size: 10px;
  font-weight: 500;
}
.input-search {
  width: 90%;
}
input {
  width: 100%;
  max-width: 580px;
  height: 27px;
  padding: 0px 0px 0px 7px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #eee;
}
input:hover {
  border: 1px solid #b9b9b9;
  border-top-color: #a0a0a0;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}
::-webkit-input-placeholder {
  color: #808080;
}
::-moz-placeholder {
  color: #808080;
}
/* Firefox 19+ */
:-moz-placeholder {
  color: #808080;
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: #808080;
}
.icon-button-search-span {
  border: none;
  display: block;
  opacity: .6;
  padding: 0;
  text-indent: -10000px;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflm-serG.webp) -320px -331px;
  background-size: auto;
  width: 15px;
  height: 15px;
  box-shadow: none;
  margin: 0 18px;
}
.icon-button-search {
  height: 29px;
  background-color: #f8f8f8;
  cursor: pointer;
  border: 1px solid #ccc;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.icon-button-search:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.keyboard-box img {
  padding-top: 10px;
  margin-right: 5px;
  width: 19px;
  height: 11px;
  margin-left: -24px;
  opacity: 0.55;
  cursor: pointer;
}
.keyboard-box img:hover {
  opacity: 1;
}
.add-video {
  padding-right: 40px;
}
.add-video a {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -419px -170px;
  background-size: auto;
  width: 24px;
  height: 24px;
  opacity: 0.55;
}
.add-video a:hover {
  opacity: 1;
}
.g-account a {
  text-decoration: none;
  color: white;
}
.g-account .message {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -391px -391px;
  width: 30px;
  height: 30px;
  opacity: 0.50;
  margin-right: 13px;
}
.g-account .message:hover {
  opacity: 1;
}
.g-account .google-account {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #59391d;
  text-align: center;
  vertical-align: center;
}
.mobile-version {
  display: none;
}
.content {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.left-content-column {
  width: 70%;
}
.left-content-column .main-video video {
  max-width: 700px;
  height: 500px;
}
.right-content-column {
  width: 30%;
}
@media screen and (max-width: 768px) {
  body .desktop-version {
    display: none;
  }
  body .mobile-version {
    display: block;
  }
  body .mobile-version header {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px 0px 10px;
    box-sizing: border-box;
    line-height: 30px;
    background-color: #e62117;
    position: absolute;
  }
  body .mobile-version .first-line-header-mobile {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 46px;
    line-height: 50px;
    width: 100%;
  }
  body .mobile-version .first-line-header-mobile .left-first-line-header-mobile {
    display: flex;
    width: 10%;
  }
  body .mobile-version .first-line-header-mobile .left-first-line-header-mobile .logo-mobile {
    display: flex;
    width: 36px;
    height: 26px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_tablet-set-vhigh-vflih36to.png) 0px -867px;
    -webkit-background-size: 48px 1380px;
    margin-right: 10px;
  }
  body .mobile-version .first-line-header-mobile .left-first-line-header-mobile a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  body .mobile-version .first-line-header-mobile .left-first-line-header-mobile .logo-name-mobile {
    display: flex;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 0px;
    margin-right: 5px;
  }
  body .mobile-version .first-line-header-mobile .right-first-line-header-mobile {
    display: flex;
    justify-content: flex-end;
    flex-grow: 3;
    max-width: 80%;
    height: 27px;
  }
  body .mobile-version .first-line-header-mobile .right-first-line-header-mobile .search-button-mobile {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_tablet-set-vhigh-vflih36to.png) -22px -375px;
    width: 24px;
    height: 24px;
    -webkit-background-size: 48px 1380px;
    opacity: 0.9;
  }
  body .mobile-version .first-line-header-mobile .right-first-line-header-mobile .menu-mobile {
    width: 24px;
    height: 24px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) -23px -1214px;
    -webkit-background-size: 48px 1322px;
    opacity: 0.9;
  }
  body .mobile-version .first-line-header-mobile .right-first-line-header-mobile #divInputMobile {
    display: none;
    width: 100%;
    margin: 0px 5px;
  }
  body .mobile-version .first-line-header-mobile .right-first-line-header-mobile #divInputMobile #searchMobileInput {
    display: flex;
    width: 100%;
    max-width: 620px;
  }
  body .mobile-version .second-line-header-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 56px;
    width: 100%;
  }
  body .mobile-version .second-line-header-mobile .home-mobile {
    opacity: 1;
    width: 24px;
    height: 24px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) -22px -414px;
    background-size: 48px 1322px;
    -webkit-background-size: 48px 1322px;
  }
  body .mobile-version .second-line-header-mobile .in-trend-mobile {
    opacity: 0.5;
    width: 24px;
    height: 24px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) 0px -758px;
    -webkit-background-size: 48px 1322px;
  }
  body .mobile-version .second-line-header-mobile .subscriptions-mobile {
    opacity: 0.5;
    width: 24px;
    height: 24px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) 0px -1066px;
    -webkit-background-size: 48px 1322px;
  }
  body .mobile-version .second-line-header-mobile .account-mobile {
    opacity: 0.5;
    width: 24px;
    height: 24px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) 0px -1122px;
    -webkit-background-size: 48px 1322px;
  }
}
