.disp-flex {
  display: flex;
}
.hide {
  display: none;
}
.full-width {
  width: 100%;
}
body {
  margin: 0px;
  padding: 0px;
}
body.responsive {
  position: absolute;
  width: 100%;
}
body.responsive.desktop {
  font-family: Roboto, arial, sans-serif;
  font-size: 13px;
  background-color: #f1f1f1;
}
body.responsive.desktop header {
  display: flex;
  background-color: white;
  position: fixed;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #e8e8e8;
  flex-direction: row;
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;
}
body.responsive.desktop header a {
  text-decoration: none;
}
body.responsive.desktop header div,
body.responsive.desktop header sup,
body.responsive.desktop header a,
body.responsive.desktop header input,
body.responsive.desktop header img {
  display: flex;
}
body.responsive.desktop header:hover .icon-menu {
  opacity: 1;
}
body.responsive.desktop header .first-line-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
}
body.responsive.desktop header .icon-menu {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -392px -333px;
  width: 16px;
  height: 24px;
  opacity: 0.6;
  margin: 4px 14px 0px 42px;
}
body.responsive.desktop header .icon-menu:hover {
  opacity: 1;
}
body.responsive.desktop header .logo-name-mobile {
  display: none;
}
body.responsive.desktop header .icon-logo {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -425px -391px;
  width: 73px;
  height: 30px;
}
body.responsive.desktop header .region {
  color: #767676;
  font-size: 10px;
  font-weight: 500;
  margin-right: 70px;
}
body.responsive.desktop header .search-app {
  width: 100%;
  max-width: 650px;
  flex-grow: 2;
}
body.responsive.desktop header input {
  width: 100%;
  max-width: 640px;
  height: 27px;
  padding: 0px 0px 0px 7px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #eee;
}
body.responsive.desktop header input:hover {
  border: 1px solid #b9b9b9;
  border-top-color: #a0a0a0;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}
body.responsive.desktop header .icon-button-search-span {
  border: none;
  display: block;
  opacity: .6;
  padding: 0;
  text-indent: -10000px;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflm-serG.webp) -320px -331px;
  background-size: auto;
  width: 15px;
  height: 15px;
  box-shadow: none;
  margin: 0 18px;
}
body.responsive.desktop header .icon-button-search {
  height: 29px;
  background-color: #f8f8f8;
  cursor: pointer;
  border: 1px solid #ccc;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
body.responsive.desktop header .icon-button-search:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
body.responsive.desktop header .add-video {
  padding-right: 40px;
  width: 30%;
  max-width: 390px;
  justify-content: flex-end;
}
body.responsive.desktop header .add-video a {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -419px -170px;
  background-size: auto;
  width: 24px;
  height: 24px;
  opacity: 0.55;
}
body.responsive.desktop header .add-video a:hover {
  opacity: 1;
}
body.responsive.desktop header .g-account {
  margin-right: 40px;
}
body.responsive.desktop header .g-account .message {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflr-7r42.webp) -391px -391px;
  width: 30px;
  height: 30px;
  opacity: 0.50;
  margin-right: 13px;
}
body.responsive.desktop header .g-account .message:hover {
  opacity: 1;
}
body.responsive.desktop header .g-account .google-account {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #59391d;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  font-size: 13px;
  color: #666;
}
body.responsive.desktop header .second-line-header {
  display: flex;
  width: 100%;
  padding-top: 10px;
  height: 30px;
}
body.responsive.desktop header .second-line-header ul {
  justify-content: center;
  align-items: center;
}
body.responsive.desktop header .second-line-header ul.list-menu-bottom-header {
  display: flex;
  width: 100%;
  margin: 0px;
  list-style: none;
  padding: 0px;
  background-color: white;
  box-sizing: none;
}
body.responsive.desktop header .second-line-header ul.list-menu-bottom-header li {
  margin: 0px 15px;
}
body.responsive.desktop header .second-line-header ul.list-menu-bottom-header li a {
  text-decoration: none;
  font-size: 13px;
  color: #666;
  line-height: 40px;
}
body.responsive.desktop header .second-line-header ul.list-menu-bottom-header li a:active {
  font-size: 13px;
  font-weight: bold;
  border-bottom: 3px solid #cc181e;
}
body.responsive.mobile header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  line-height: 20px;
  background-color: #e62117;
  position: absolute;
  width: 100%;
}
body.responsive.mobile header a {
  text-decoration: none;
}
body.responsive.mobile header .first-line-header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
body.responsive.mobile header .logo {
  flex-grow: 0;
  width: 100%;
  max-width: 700px;
}
body.responsive.mobile header .logo > a {
  display: flex;
  order: 0;
}
body.responsive.mobile header .logo .icon-logo {
  width: 36px;
  height: 26px;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_tablet-set-vhigh-vflih36to.png) 0px -867px;
  -webkit-background-size: 48px 1380px;
  margin-right: 10px;
}
body.responsive.mobile header .logo .region {
  display: none;
}
body.responsive.mobile header .logo .logo-name-mobile {
  margin: 0px;
  display: flex;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 0px;
  margin-right: 5px;
  margin-top: 5px;
  line-height: 20px;
  font-family: Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body.responsive.mobile header .url-icon-menu {
  order: 3;
}
body.responsive.mobile header .url-icon-menu .icon-menu {
  width: 24px;
  height: 24px;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) -23px -1214px;
  -webkit-background-size: 48px 1322px;
  opacity: 0.9;
}
body.responsive.mobile header .search-app {
  display: flex;
}
body.responsive.mobile header input {
  display: none;
}
body.responsive.mobile header .g-account {
  display: none;
}
body.responsive.mobile header button {
  border: none;
}
body.responsive.mobile header button.icon-button-search {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_tablet-set-vhigh-vflih36to.png) -22px -375px;
  width: 24px;
  height: 24px;
  -webkit-background-size: 48px 1380px;
  opacity: 0.9;
}
body.responsive.mobile header button.icon-button-search .icon-button-search-span {
  display: none;
}
body.responsive.mobile header .second-line-header {
  display: flex;
  width: 100%;
  padding: 15px 0px 15px 0px;
}
body.responsive.mobile header .second-line-header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0px;
  width: 100%;
}
body.responsive.mobile header .second-line-header ul.list-menu-bottom-header {
  display: flex;
}
body.responsive.mobile header .second-line-header ul.list-menu-bottom-header li.main-toogle {
  opacity: 1;
  width: 24px;
  height: 24px;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) -22px -414px;
  background-size: 48px 1322px;
  -webkit-background-size: 48px 1322px;
}
body.responsive.mobile header .second-line-header ul.list-menu-bottom-header li.recomendation-toogle {
  opacity: 0.5;
  width: 24px;
  height: 24px;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) 0px -758px;
  -webkit-background-size: 48px 1322px;
}
body.responsive.mobile header .second-line-header ul.list-menu-bottom-header li.subscriptions-toogle {
  opacity: 0.5;
  width: 24px;
  height: 24px;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) 0px -1066px;
  -webkit-background-size: 48px 1322px;
}
body.responsive.mobile header .second-line-header ul.list-menu-bottom-header li.g-account-mobile {
  opacity: 0.5;
  width: 24px;
  height: 24px;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl0k0JHQ.png) 0px -1122px;
  -webkit-background-size: 48px 1322px;
}
body.responsive.mobile header .second-line-header ul.list-menu-bottom-header li a {
  display: none;
}
body.responsive.mobile header .second-line-header ul.list-menu-bottom-header li:hover {
  cursor: pointer;
}
.open-box header .icon-menu,
.open-box header #logoMobileText {
  display: none;
}
.open-box header .logo > a {
  max-width: 45px;
}
.open-box header #logoDiv {
  max-width: 45px;
}
.open-box header .search-app {
  width: 100%;
}
.open-box header .search-app > #inputSearch {
  display: flex;
  width: 100%;
  padding-left: 10px;
}
.open-box header .second-line-header {
  background-color: rgba(0, 0, 0, 0.65);
}
